
#jobs {
   margin-bottom: -200px;
   margin-left:200px;
}


.boxed {
  border: 0.1em solid #858F97;
  width: 450px;
  height: 35px;
  margin:0 auto;
}


#homepage-header {
  text-align: center;
  padding: 5px;
  color: #c0c0c0;
  text-transform: uppercase; 
  letter-spacing: 0.2em;
  margin: 0;;
  font-family: 'Raleway';
  font-weight: 100;
 
 @keyframes homepage-header {
    10% {
        opacity: 0.5;
    }
}

#homepage-header span {
	color: #fff;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 .about-paragraph{
    font-family: Raleway;
    font-weight: 100;
    font-size: 2em;
    color: #B0B0B5;
 }
 
/*.skill-paragraph {
  font-family: Raleway;
  font-weight: 200;
  margin: 0 0;
}*/

#last-footer {
  width: 50%;
  margin: 0 auto;
}









































